.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}

@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: none;
    }
    
}


